* {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
}

.groupButtons {
  padding: 0 45px 0 45px;
}

.groupButtons .itemButton {
  font-size: medium;
  font-weight: 600;
  text-decoration: none !important;
  color: white;
}

.logoContent {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.logoContent img {
  padding: 0 10px 0 0;
}

.container {
  padding: 20px 0 40px 0;
}

.container h1 {
  font-weight: bold;
  padding: 15px 0 35px 0;
}

.heroImage {
  max-height: 600px;
}

.heroFeatures {
  padding: 10px;
}

@media (max-width: 1366px) {
  .heroImage {
    max-height: 500px;
  }
}
